:root {
  --darkBG: #555;
  --lightBG: #eee;
  --darkUI: #333;
  --lightUI: #ddd;
  --darkText: #ddd;
  --lightText: #555;
  --primary: #bc4123;
  --secondary: #2b3452;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.trending {
  width: 100%;
  background-color: var(--lightUI);
  /* height: 80%; */
}

.trending-books {
  background-color: #bbb;
}

.trending-books h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.carousel-container {
  justify-content: center;
  align-items: center;
}



.book-list {
  background-color: var(--lightUI);
}

.bookdesc {
  text-decoration: none;
  color: var(--lightText);
}