/* Forget Password page */
.forget-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  background: var(--lightUI);
  margin-bottom: 10px;
}

.forget-password-text {
  padding: 10px;
}

.forget-pass-form {
  display: flex;
  width: 60%;
  max-width: 300px;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.forget-pass-form input {
  width: 100%;
  padding: 10px 30px;
  margin: 10px;
}

.reset-pass-btn {
  width: 200px;
  height: 35px;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 4px;
}

.reset-pass-btn:hover {
  background: var(--primary);
  border: 2px solid black;
  color: white;
}
