:root {
  --darkBG: #555;
  --lightBG: #eee;
  --darkUI: #333;
  --lightUI: #ddd;
  --darkText: #ddd;
  --lightText: #555;
  --primary: #bc4123;
  --secondary: #2b3452;
}

/* .book-list-container {
  font-weight: 800;
} */

.book-list-header {
  margin-top: 10px;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.list-item-header {
  display: flex;
  margin: 15px;
  padding: 10px;
  justify-content: space-between;
  border-bottom: 3px solid var(--primary);
}

.cover-title {
  width: 55%;
  display: flex;
}

.cover-title .cover-image {
  margin-right: 40px;
}

.author-ry-category {
  justify-content: space-around;
  width: 45%;
  display: flex;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}
